* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    width: 100vw;
    height: 1vh;
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 20px;
    font-size: 25px;
}

#leaderboard {
    margin: 20px 0px 0px 20px;
    color: #0088CC;
}

#timer {
    margin: 20px 20px 0px 0px;
}

#start-screen {
    width: 100vw;
    height: 80vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}

#start-screen h2 {
    margin-bottom: 30px;
}

#start-screen p {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#start-button {
    padding: 15px 20px;
    margin-top: 30px;
    border-radius: 10px;
    background-color: #337799;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

#start-button:hover {
    cursor: pointer;
}

#question1 {
    width: 100vw;
    height: 80vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}

#question1 h2 {
    margin-bottom: 30px;
}

#strings-button {
    padding: 15px 20px;
    border-radius: 10px;
    background-color: #337799;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

#strings-button:hover {
    cursor: pointer;
}

#booleans-button {
    padding: 15px 20px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: #337799;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

#booleans-button:hover {
    cursor: pointer;
}

#alerts-button {
    padding: 15px 20px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: #337799;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

#alerts-button:hover {
    cursor: pointer;
}

#numbers-button {
    padding: 15px 20px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: #337799;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

#numbers-button:hover {
    cursor: pointer;
}

#question2 {
    width: 100vw;
    height: 80vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}

#question2 h2 {
    margin-bottom: 30px;
}

#quotes-button {
    padding: 15px 20px;
    border-radius: 10px;
    background-color: #337799;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

#quotes-button:hover {
    cursor: pointer;
}

#crlybrackets-button {
    padding: 15px 20px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: #337799;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

#crlybrackets-button:hover {
    cursor: pointer;
}

#parenthesis-button {
    padding: 15px 20px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: #337799;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

#parenthesis-button:hover {
    cursor: pointer;
}

#sqbrackets-button {
    padding: 15px 20px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: #337799;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

#sqbrackets-button:hover {
    cursor: pointer;
}